# builds
build/

# tests
test/

# binrary
*.exe
*.out
*.bin
*.x86_64
src/*.exe

# temp
*.tmp

# IDE Settings
*~
src/*~

/SenseBot.docx
/noun/system1.txt
/noun/resources.py
/noun/__pycache__
/sensebot*